# Dependency directory (redundant for version control)
node_modules/
agrihub-frontend/

# Local environment variables (High Security Risk)
.env
.env.local

# Logs and system files
*.log
npm-debug.log*
.DS_Store
